<div class="jumbotron jumbotron-fluid center">
  <h1 class="display-4">Welcome to MyRecipes</h1>
  <h2>The best Stardew recipes app</h2>
  <p>Add info about your farm's recipes!</p>
  <p><%= link_to "Sign up !",signup_path, class:"btn btn-success btn-lg btn-xlarge"%></p>
</div>


<div class="row">
  <div class="container">
    <div class="row">
      <h3 class="center col" id="dividor">And what about reality?</h3>
    </div>
  </div>
  <div class="col-lg-4">
    <div>
      <div id="heading1"></div>
      <h2>Super Meal Recipe</h2>
      <p>This week on Lvl.1 Chef we’re tackling the vaguely titled and vaguely sprited Super Meal from Stardew Valley!
        The recipe didn’t end up like I thought it would in the end, but I’m very pleased with this vibrant Asian style
        salad all the same! But what exactly makes it so super, and can it really be considered a meal? Let’s find out.
      </p>
      <p><a class="btn btn-primary btn-sm" href="https://www.level1chef.com/stardew-valley-super-meal/"
          role="button">View details &raquo;</a></p>
    </div>
  </div>
  <div class="col-lg-4">
    <div>
      <div id="heading2"></div>
      <h2>Autumn's Bounty Recipe</h2>
      <p>For my first official Stardew Valley recipe I knew I wanted to to make something really special. Although the
        recipe I finally put together is relatively simple, the process was anything but. The number of recipe fails I
        experienced during the development of this one has GOT to be a new record for me! </p>
      <p><a class="btn btn-primary btn-sm" href="https://www.level1chef.com/stardew-valley-autumns-bounty/"
          role="button">View details &raquo;</a></p>
    </div>
  </div>
  <div class="col-lg-4">
    <div>
      <div id="heading3"></div>
      <h2>Cranberry Recipes</h2>
      <p>Three recipes in one post!? It’s CRANdemonium!

        My hilarious puns aside, the Stardew Valley recipe train keeps chugging on through the month of November here at
        Lvl.1 Chef. There’s no better time of year to get your hands on some fresh cranberries, so I wanted you give
        these ruby colored beauties the spotlight they deserve!</p>
      <p><a class="btn btn-primary btn-sm"
          href="https://www.level1chef.com/stardew-valley-cranberry-sauce-cranberry-candy-stuffing/" role="button">View
          details &raquo;</a></p>
    </div>
  </div>
</div>