
$navbar-default-bg: #68D18C;

@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron{
    background-image: asset-url('cover-image.png');
    height: 330px;
}

#heading1{
    background-image: asset-url('super-meal.png');
    background-size: cover;
    height: 20vh;
}
#heading2{
    background-image: asset-url('autumns-bounty.png');
    background-size: cover;
    height: 20vh;
}
#heading3{
    background-image: asset-url('Cranberry-recipe.png');
    background-size: cover;
    height: 20vh;
}

#dividor{
    background-color: #ebc759;
    color: #333333;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 25px;
}

#logo {
    float: left;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
}
#logo:hover {
    color :#0A2C6C;
    text-decoration: none;
}
.center{
    text-align: center;
}

.btn-xlarge{
    background-color: #68D18C;
}
.btn-xlarge:hover {
    color:black;
    text-decoration: none;
}

.btn-sm:hover {
    color:black;
    text-decoration: none;
}
#footer{
    background-color: #68D18C;
    bottom: 0;
    text-decoration-style: wavy;
    margin-top: 225px;
}
.description{
    margin-top: 0;
}
.well a{
    color: #0A2C6C;
}
.chef_info{
    margin-top: 25px;
}
.colormatch a{
    color:#0A2C6C;
}
#createNew{
    margin-top: 30px;
}
#cancelNewRecipe{
    margin-top: 10px;
}
.recipe-actions{
    padding-top: 20px;
    a{
        color:#0A2C6C;
    }
}
.listing{
    list-style: none;
    padding-left: 0;
}
.chefs-title{
    color:#0A2C6C;
    font-weight: bold;
    font-size: 1.25em;
}