<footer class="bg-light text-center text-lg-start" id="footer">
  <div class="text-center p-3 ">
    2022   |   Development Training   |   
    <a class="text-dark" href="https://github.com/leticia-godoy">Letícia Godoy</a>
  </div>
</footer>

